:root {
  --white: #fff;
  --black-800: #282833;
  --black-700: #353543;
  --black-600: #777777;
  --black-300: #9B9BB1;
  --orange-800: #EFAE19;
  --font-link: .95rem;
  --font-text: 1.12rem;
  --font-cite: .9rem;
  --font-title: 1.8rem;
  --font-subtitle: 1.3rem;
  --family-text: 'Open-Sans', sans-serif;
}

*, html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--black-800);
}
.separator {
  width: 100%;
  height: 1px;
  background-color: var(--black-600);
}
.card {
  position: relative;
  cursor: pointer;
}
.card>.card-header {
  width: 100%;
}
.card>.card-header>img {
  max-width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card>.card-body {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 300;
  padding: 15px;
  background-color: var(--black-700);
}
.card>.card-body>*{
  margin-bottom: 10px;
}
.family-text {
  font-family: var(--family-text);
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-500 {
  font-weight: 500;
}
.font-title {
  font-size: var(--font-title);
  margin-bottom: 10px;
}
.font-subtitle {
  font-size: var(--font-subtitle);
}

.font-text {
  font-size: var(--font-text);
}

.font-cite {
  font-size: var(--font-cite);
}
.text-center{
  text-align: center;
}
.text-secondary {
  color: var(--orange-800);
}

.text-primary {
  color: var(--white);
}

.text-black-800 {
  color: var(--black-800);
}

.text-black-700 {
  color: var(--black-700);
}

.text-black-300 {
  color: var(--black-300);
}

.text-white {
  color: var(--white);
}

.container {
  width: 85%;
  margin: 0 auto;
}

.btn {
  background-color: var(--black-700);
  padding: 12px 20px;
  border-radius: 5px;
  color: var(--orange-800);
  cursor: pointer;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: var(--font-link);
  text-transform: uppercase;
  font-weight: 500;
}

a:hover {
  color: var(--orange-800);
  transition: all .1s linear;
}

header {
  background-color: var(--black-700);
  padding: 40px 0 70px 0;
}

header > .menu {
  display: flex;
  justify-content: space-between;
}

header > .menu > .menu-item-mobile {
  width: 0;
  overflow: hidden;
  background-color: var(--black-800);
  position: fixed;
  /* width: 300px; */
  right: 0;
  top: 0;
  bottom: 0;
  /* padding: 20px; */
}
header>.menu>.menu-item-mobile>div:first-child{
  text-align: right;
}
header>.menu>.menu-item-mobile>div:first-child>a{
  font-size: 2rem;
  color: var(--black-300);
}
header>.menu>.menu-item-mobile>div {
  text-align: center;
  margin-bottom: 40px;
}
header>.menu>.menu-item-mobile>div>a{
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--black-300);
}
header>.menu>.menu-item-mobile>div>a:hover {
  color: var(--orange-800);
}
header>.menu>.menu-item {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  list-style: none;
}
header>.menu>.menu-item>li:last-child{
  cursor: pointer;
  display: none;
}
header>.menu>.menu-item>li:last-child>div{
  margin-bottom: 7px;
  height: 3px;
  border-radius: 3px;
  background-color: var(--black-300);
}
header>.menu>.menu-item>li:last-child > div:nth-child(1){
  width: 35px;
}
header>.menu>.menu-item>li:last-child>div:nth-child(2) {
  width: 25px;
}
header>.menu>.menu-item>li:last-child>div:nth-child(3) {
  width: 30px;
}
header>.person {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
header>.person>div {
  flex-basis: 45%;
}
header>.person>.bio>.salutation {
  color: var(--black-300);
  font-size: 2.7rem;
  font-weight: 300;
  font-family: var(--family-text);
  margin-bottom: 10px;
}

header>.person>.bio>.name{
  font-size: 3.2rem;
  color: var(--white);
  font-weight: 500;
}
header>.person>.bio>.underline {
  width: 250px;
  height: 4px;
  border-radius: 4px;
  margin: 20px 0;
  background-color: var(--orange-800);
}
header>.person>.bio>.motto {
  color: var(--black-300);
  font-size: 1.2rem;
  line-height: 25px;
  margin-bottom: 20px;
  font-family: var(--family-text);
  font-weight: 300;
}
header>.person>.bio>.cta{
  display: flex;
  cursor: pointer;
}
header>.person>.bio>.cta>div>a {
  font-size: 1.7rem;
  margin-right: 20px;
  cursor: pointer !important;
}
header>.person>.image {
  display: flex;
  align-items: flex-end;
  justify-content:flex-end;
}
header>.person>.image>div>img {
  width: 300px;
  height: auto;

}
main>.services{
  margin-top: 120px;
}
main>.services>.container>.box {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
main>.services>.container>.box>.card {
  background-color: var(--black-700);
  padding: 20px;
  border-radius: 10px;
  width: 380px;
}
main>.services>.container>.box>.card>.card-content>.title {
  margin-top: 20px;
}
main>.services>.container>.box>.card>.card-content>.content {
  line-height: 25px;
}
main>.project {
  margin-top: 120px;
}
main>.project>.container{
  display: flex;
  justify-content: space-between;
  flex-basis: 33px;
}
main>.project>.container>.box:not(:nth-child(2)) {
  width: 50%;
}
main>.project>.container>.box:nth-child(3) {
  margin-left: 25px;
}
main>.project>.container>.box>.title {
  margin-bottom: 30px;
}
main>.project>.container>.box>.group-skills{
  display: flex;
  flex-wrap: wrap;
}
main>.project>.container>.box>.group-skills>div{
  margin: 20px 10px;
}
main>.project>.container>.box>.separator {
  width: 1px;
  background-color: var(--black-300);
  height: 100%;
}
main>.project>.container>.box>.group-content>.card-inline{
  background-color: var(--black-700);
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  text-transform: lowercase;
}
main>.project>.container>.box>.group-content>.card-inline>.card-header>img{
  height: auto;
  width: 200px;
  display: block;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
main>.project>.container>.box>.group-content>.card-inline>.card-content {
  padding: 10px;
}
main>.project>.container>.box>.group-content>.card-inline>.card-content>.title {
  text-transform: uppercase;
}
main>.project>.container>.box>.group-content>.card-inline>.card-content>.description{
  line-height: 30px;
  margin-top: 5px;
}
main>.testimonials{
  margin-top: 120px;
}
main>.testimonials>.container>.title {
  margin-bottom: 30px;
}
main>.testimonials>.container>.group-testimonials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main>.testimonials>.container>.group-testimonials>.card{
  width: 380px;
  margin: 10px;
  background-color: var(--black-700);
  border-radius: 10px;
}
footer {
  margin-top: 120px;
  padding: 60px 0;
  background-color: var(--black-700);
}
footer>.container {
  display: flex;
  justify-content: space-between;
}
footer>.container>div:first-child{
  width: 30%;
}
footer>.container>.about>.brand{
  display: flex;
}
footer>.container>.about>.brand>.text{
  margin-left: 15px;
  margin-top: 2px;
}
footer>.container>.about>.brand>.text>a {
  font-size: var(--font-title);
}
footer>.container>.about>.description{
  line-height: 25px;
  margin-top: 20px;
  color: var(--black-300);
}
footer>.container>.navigation>.title{
  color: var(--black-300);
  font-weight: 500;
  margin-bottom: 10px;
}
footer>.container>.navigation>div:not(.title){
  margin-top: 10px;
}
footer>.container>.navigation>div:not(.title)>a{
  font-weight: 300 !important;
  color: var(--black-300) !important;
}
footer>.container>.navigation>div:not(.title)>a:hover {
  color: var(--orange-800) !important;
}
footer>.container>.identity>div{
  margin-bottom: 20px;
}
footer>.container>.identity>div {
  color: var(--black-300);
}
footer>.container>.identity>div>i {
  margin-right: 10px;
}
footer>.container>.identity>div>a{
  font-weight: 300;
  text-transform: lowercase;
  color: var(--black-300);
}
footer>.separator {
  margin-top: 20px;
  margin-bottom: 5px;
}

@media screen and (max-width: 840px){
  header>.menu>.menu-item>li:not(:last-child) {
    display: none;
  }
  header>.menu>.menu-item>li:last-child{
    display: block;
  }

  header>.person {
    display: block;
    margin-top: 60px;
  }
  header>.person>.image {
    display: none;
  }
  main>.services>.container>.box{
    display: block;
    gap: 0;
  }
  main>.services>.container>.title,
  main>.services>.container>.description{
    text-align: center;
  }
  main>.services>.container>.box>.card{
    margin: auto;
    margin-bottom: 30px;
  }
  main>.project>.container{
    display: block;
  }
  main>.project>.container>.box>.title {
    text-align: center;
  }
  main>.project>.container>.box>.group-skills{
    justify-content: center;
    overflow: hidden;
  }
  main>.project>.container>.box:not(:nth-child(2)) {
    width: 100%;
  }
  main>.project>.container>.box:nth-child(3){
    margin-top: 120px;
    margin-left: 0;
  }
  main>.testimonials>.container>.title{
    text-align: center;
  }
  main>.testimonials>.container>.group-testimonials {
    display: block;
  }
  main>.testimonials>.container>.group-testimonials>.card{
    width: 100%;
    margin-top: 20px;
    background-color: var(--black-700);
    border-radius: 10px;
  }
  footer>.container {
    display: block;
  }
  footer>.container>div:first-child{
    width: 100%;
  }
  footer>.container>div {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 500px){
  main>.services>.container>.box>.card {
    width: 100%;
  }
  main>.project>.container>.box>.group-content>.card-inline {
    display: block;
  }
  main>.project>.container>.box>.group-content>.card-inline>.card-header>img{
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
  main>.project>.container>.box>.group-content>.card-inline>.card-content{
    padding: 20px;
  }
}